{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="col">
        <div class="row justify-text-center">
            <h1>Bienvenido a mi onePage</h1>
            <h1>X</h1><br><h1>X</h1><br><h1>X</h1><br>
            <div class="col-10" id="contenido">

            </div>
        </div>
    </div>

    <script>
        //1) una función que genere un contenido en el DOM
        var i = 0;
        function loadText(){
            var mensaje = document.createElement("p");
            var div = document.getElementById("contenido");
            mensaje.innerHTML = "Hola k ace" + i;
            i ++;
            div.appendChild(mensaje);
        }


        //2) un EventListener para captar el scroll
        window.addEventListener('scroll', () => {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) { 
                loadText();
            }
        });

    </script>
{% endblock %}
