{% extends "base.html" %}
{% load static %}

{% block body %}

    <div class="col">
        <div class="row justify-text-center">
            <h1> Bienvenido a mi onePage </h1>
            <div class="col-10" id="contenido">

            </div>
        </div>
    </div>

<script>
    //1) Una funcion que genere un contenido en el DOM
    function loadText(){
        var mensaje = document.createElement("p");
        var div= document.getElementById("contenido");
        mensaje.innerHTML = "Hola k ace";
        div.appendChild(mensaje);
    }

    //2) Un eventListener para captar el scroll
    window.addEventListener('scroll',() =>{
        if((window.innerHeight + window.scrollY) >= document.body.offsetHeight){
            loadText();
        }
    });
</script>
{% endblock %}